*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --border-color: #e6e7e9;
  --main-background-color: #f4f6f9;
  --card-button-color: #2e7ed3;
  --nav-buttons-background-color: #cce5ff;
  --header-background-color: #112d6a;
}

.page-frame {
  display: flex;
  flex-wrap: wrap;
  max-width: 1900px;
  /* margin: 200px auto; */
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--header-background-color);
  color: white;
  width: 100%;
  align-items: center;
}

.logoHolder {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 4em;
}

.actions {
  display: flex;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  background-color: white;
  border: 2px solid var(--border-color);
  height: 380px;
}

.card--solutions,
.card--event,
.card--news {
  width: 250px;
  justify-content: space-between;
}

.card--wide {
  width: 60%;
  display: flex;
  
}

.card--narrow {
  width: 35%;
}

.card--podcast {
  width: 100%;
}

.card__img {
  border-radius: 9px 9px 0 0;
  object-fit: cover;
}

.card--solutions .card__img,
.card--news .card__img {
  width: 100%;
  height: 120px;
}

.card--event .card__img {
  width: 100%;
  height: 40%;
}

.card--podcast .card__img {
  width: 30%;
  height: 40%;
}

.card--wide .card__img,
.card--narrow .card__img {
  width: 150px;
  border-radius: 10px;
}

.card--wide .card__img {
  height: 200px;
  width: 300px;
}

.card--wide__info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 20px;
}

.card--narrow .card__img {
  max-height: 140px;
}

.page-section__headings p {
  font-size: 1.2em;
  opacity: 0.5;
  font-weight: 600;
}

select,
::picker(select) {
  appearance: base-select;
}

#farm-select {
  background-color: rgb(1, 1, 93);
  color: white;
  border-radius: 10px;
  border: 1px solid black;
  width: 240px;
  text-align: left;
}

.farm-name {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 10px 0px 10px;
}

#nav-icons {
  display: flex;
  list-style: none;
  gap: 15px;
  padding: 10px;
}

aside {
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}

.side-navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 35px;
  justify-content: center;
  align-items: center;
}

.side-navigation li {
  width: 100%;
  display: flex;
  justify-content: center;
}

.aside-button {
  padding: 12px;
  border-radius: 8px;
  color: #146ecf;
  background-color: var(--nav-buttons-background-color);
  font-weight: 500;
  width: 70%;
  display: flex;
  gap: 10px;
}

main {
  flex: 1;
  background-color: #f4f6f9;
}

#main-content {
  display: flex;
  flex-direction: column;
}

.page-section {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 80px;
  overflow: hidden;
}

.page-section--hero {
  background-image: url("https://images.unsplash.com/photo-1533460004989-cef01064af7e?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Z3JlZW4lMjBncmFzc3xlbnwwfHwwfHx8MA%3D%3D");
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.heading-holder {
  width: 70%;
}

#hero-section p {
  text-align: left;
  font-size: 1.2em;
  opacity: 0.9;
}

.heading-holder {
  flex: 0 0 100%;
}


.card--solutions .info-holder {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.solution-card-headings {
  display: flex;
  gap: 20px;
  align-items: center;
}

.page-section__card-holder {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.small-icon {
  color: blue;
  font-weight: 200;
  border: 1px solid blue;
  padding: 5px;
  border-radius: 3px;
  text-align: center;
}

.card--action {
  display: flex;
  justify-content: flex-end;
  padding: 25px;
  border-top: 2px solid var(--border-color);
}

.card--wide__upper {
  display: flex;
  height: 80%;
  padding: 10px;
  gap: 6px;
}

.wide-card-text-holder {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.wide-card-text-holder-headings {
  display: flex;
  gap: 6px;
  align-items: center;
}

.wide-card-text-holder-headings .small-icon {
  color: blue;
  font-weight: 200;
  border: 1px solid blue;
  padding: 3px;
}

.wide-card-text-holder-headings .recommended-option {
  border: 1px solid lightblue;
  padding: 4px;
  border-radius: 8px;
  color: #146ecf;
  background-color: var(--nav-buttons-background-color);
  font-weight: 500;
}

.related-topics {
  display: flex;
  list-style: none;
  gap: 20px;
}

.related-topics li {
  border: 1px solid gray;
  padding: 11px;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  width: max-content;
  background-color: white;
}

.greyed-out {
  color: rgb(172, 171, 171);
}

.action-button {
  font-weight: 700;
  color: #2e7ed3;
}

.narrow-card-upper-part {
  display: flex;
  height: 80%;
  padding: 20px;
  gap: 6px;
}

.narrow-card-headings {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.page-section--events {
  flex-direction: row;
}

#events {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.events-top-part {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.hollow-action-button {
  border: 1px solid rgb(6, 169, 223);
  padding: 12px;
  border-radius: 6px;
  color: rgb(6, 169, 223);
  font-weight: 500;
}

.event-card-upper-part {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 2px solid gray;
  height: 90%;
}

.event-card-text-holder {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 5px;
  height: 50%;
}

.date {
  font-size: 0.9em;
  font-weight: 600;
}

.event-card-down-part {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  align-items: center;
}

#podcasts {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.podcasts-top-part {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.podcast-card-top-part {
  display: flex;
  padding: 10px;
  gap: 15px;
  border-bottom: 1px solid lightgray;
}

.podcast-card-text-holder {
  width: 70%;
}
