*,*::after,*::before{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}



body{
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    
}

a{
    text-decoration: none;
}

select,
::picker(select) {
  appearance: base-select;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(2, 2, 132);
    color: white;
    width: 100%;
    align-items: center;
}

.logoHolder{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 4em;
}

.actions{
    display: flex;
    gap: 40px;
}


#farm-select{
    background-color: rgb(1, 1, 93);
    color: white;
    border-radius: 10px;
    border: 1px solid black;
}

.farm-name{
    display: flex;
    
}

#nav-icons{
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 10px;
}

aside{
    display: flex;
    flex-direction: column;
    width: 170px;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.side-navigation{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 35px;
    justify-content: center;
    align-items: center;
}

.side-navigation li{
    width: 100%;
    display: flex;
    justify-content: center;
}

.aside-button{
    padding: 12px;
    border-radius: 8px;
    color: rgb(4, 151, 200);
    font-weight: 500;
    width: 70%;
    display: flex;
    gap: 10px;
    background-color: rgb(183, 225, 239);
    
}

main{
    flex: 1;
    background-color: rgb(229, 226, 226);
}

#main-content{
    display: flex;
    flex-direction: column;
}

#hero-section{
    display: flex;
    flex-direction: column;
    background-image: url("https://images.unsplash.com/photo-1533460004989-cef01064af7e?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Z3JlZW4lMjBncmFzc3xlbnwwfHwwfHx8MA%3D%3D");
    object-fit: cover;
    min-width: 100%;
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 40px;
}

.heading-holder{
    width: 70%;
}

#hero-section h1{
    font-size: 1.7em;
}
#hero-section h3{
    font-size: 1.1em;
    text-align: left;
    font-weight: 400;
}

#full-range-section{
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    overflow: hidden;
}

#full-range-section img{
    border-radius: 9px 9px 0px 0px;
    width: 248px;
    height: 100px;
}

.text-holder{
    flex: 0 0 100%;
}

.solutions-card-holder{
    display: flex;
   justify-content: space-between;
    flex-wrap: wrap;
     gap: 20px;
}

.solution-card{
    display: flex;
    height: 350px;
    max-width: 250px;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 9px;
    background-color: rgba(247, 245, 245, 0.925);
}

.solution-card-upper-part{
    border-bottom: 2px solid lightgray;
    height: 80%;
}

.solution-card .info-holder{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.solution-card-headings{
    display: flex;
    gap: 5px;
    align-items: center;
    
}

.solution-card .info-holder .small-icon{
    color: blue;
    font-weight: 200;
    border: 1px solid blue;
    padding: 3px;
}


.solution-card-down-part{
    display: flex;
    justify-content: flex-end;
    padding: 25px;
}

#featured-solutions-section{
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px;
    overflow: hidden;
}

.featured-subsection{
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.wide-card{
    display: flex;
    height: 350px;
    width: 60%;
    flex-direction: column;
    border: 2px solid lightgray;
    border-radius: 9px;
    background-color: rgba(247, 245, 245, 0.925);
    flex: 1;
}


.wide-card img{
    max-height: 200px;
    max-width: 150px;
    border-radius: 10px;
      
}


.wide-card-upper-part{
    display: flex;
    height: 80%;
    padding: 10px;
    gap: 6px;
    border-bottom: 2px solid gray;
}

.wide-card-text-holder{
    display: flex;
    flex-direction: column;
    gap: 6px;
    
}

.wide-card-text-holder-headings{
    display: flex;
    gap: 6px;
    align-items: center;
}

.wide-card-text-holder-headings .small-icon{
    color: blue;
    font-weight: 200;
    border: 1px solid blue;
    padding: 3px;
}

.wide-card-text-holder-headings .recommended-option{
    border: 1px solid lightblue;
    padding: 4px;
    border-radius: 4px;
    color: blue;
    background-color: lightblue;
    font-weight: 500;
}

.related-topics{
    display: flex;
    list-style: none;
    gap: 20px;
}

.related-topics li{
    border: 1px solid gray;
    padding: 11px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    width: max-content;
    background-color: rgb(236, 235, 235);
}


.wide-card-down-part{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.greyed-out{
    color: rgb(172, 171, 171)
}

.action-button{
    font-weight: 700;
    color: rgb(6, 169, 223)
}

.narrow-card{
    display: flex;
    height: 350px;
    width: 35%;
    flex-direction: column;
    border: 2px solid lightgray;
    border-radius: 9px;
    background-color: rgba(247, 245, 245, 0.925);
    
}

.narrow-card img{
    max-width: 150px;
    max-height: 140px;
    border-radius: 10px;
}

.narrow-card-upper-part{
    display: flex;
    height: 80%;
    padding: 20px;
    gap: 6px;
    border-bottom: 2px solid gray;
}

.narrow-card-headings{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.narrow-card-down-part{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}


#events-section{
    display: flex;
    gap: 15px;
    padding: 35px;
    width: 100%;
    min-height: 300px;
}

#events{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.events-top-part{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.hollow-action-button{
    border: 1px solid rgb(6, 169, 223);
    padding: 12px;
    border-radius: 6px;
    color: rgb(6, 169, 223);
    font-weight: 500;
}

.event-card-holder{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 15px;
}

.event-card{
   display: flex;
    height: 350px;
    max-width: 250px;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 9px;
    background-color: rgba(247, 245, 245, 0.925);
}

.event-card img{
    width: 100%;
    height: 40%;
    border-radius: 9px 9px 0px 0px;
}

.event-card-upper-part{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 2px solid gray;
    height: 90%;
}

.event-card-text-holder{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 5px;
    height: 50%;
}

.date{
    font-size: 0.9em;
    font-weight: 600;
}




.event-card-down-part{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
    
}



#podcasts{
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.podcasts-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}




.podcasts-top-part{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}



.podcast-card{
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 9px;
    background-color: rgba(247, 245, 245, 0.925);
}

.podcast-card-top-part{
    display: flex;
    padding: 10px;
    gap: 15px;
    border-bottom: 1px solid lightgray;
}

.podcast-card-text-holder{
    width: 70%;
}


.podcast-card img{
    width: 30%;
    height: 40%;
    border-radius: 9px 9px 0px 0px;
}


#news-section{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px;
    width: 100%;
    min-height: 300px;
}

.news-headings{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.news-card-holder{
    display: flex;
    justify-content: space-around;
}


.news-card{
    display: flex;
    height: 350px;
    max-width: 250px;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 9px;
    background-color: rgba(247, 245, 245, 0.925);
}

.news-card img{
    border-radius: 9px 9px 0px 0px;
    width: 248px;
    height: 100px;
}

